<html>
<head>
    <title>My Events</title>
    <link rel="stylesheet"  type="text/css" href="style.css" />
</head>
<body>
    <h1 class="main-title">My Events</h1>
    <% if (events.length > 0) { %>
        <ul class="my-events-list">
            <% events.forEach(event => { %>
                <li class="my-event-item">
                    <p class="event-name"><%= event.Name %></p>
                    <p>Date: <%= event.formatted_date %></p>
                    <p>Time: <%= event.Time %></p>
                    <p>Location: <%= event.Location %></p>
                    <p>Description: <%= event.Description %></p>
                    <form action="/delete-event" method="POST">
                        <input type="hidden" name="eventId" value="<%= event.EventID %>">
                        <button type="submit">Delete Event</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>You have no events yet.</p>
    <% } %>

    <form id="weatherForm">
        <input type="text" name="city" placeholder="Enter city name">
        <button type="submit">Get Weather</button>
    </form>
    <div id="weatherResult"></div>

    <div class="footer">
        <a href="/">Home</a>
      </div>
      <script>
        document.getElementById('weatherForm').addEventListener('submit', function(e) {
            e.preventDefault();
            var city = this.city.value;
            fetch(`/weather?city=${city}`)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('weatherResult').innerHTML = data;
                })
                .catch(error => {
                    console.error('Error fetching weather:', error);
                    document.getElementById('weatherResult').innerHTML = 'Error getting the weather data';
                });
        });
    </script>
</body>
</html>
